<div class='back-page' id='back-page'>
  <div class='account-page' id='account-page'>
    <div class='account-page__inner clearfix'>
      <div class='account-page__inner--left account-page__header'>

        <h2>新規ユーザー登録</h2>
        <h5>「My dic」アプリを使用するには新規アカウントの作成が必要です。</h5>
        <h5> 　必要な項目を入力しサクッとアカウント登録して始めよう！</h5>
        <%= link_to "ログイン", new_session_path(resource_name) %><br />
      </div>
      <div class='account-page__inner--right user-form'>
        <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
          <%= devise_error_messages!%>
          <div class='field'>
            <div class='field-label'>
              <%= f.label "nickname"%><span>(必須)</span>
            </div>
            <div class='field-input'>
              <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネームを入力しよう"%>
            </div>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label "email"%><span>(必須)</span>
            </div>
            <div class='field-input'>
              <%= f.email_field :email, placeholder:"メールアドレスを入力しよう"%>
            </div>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label "password"%><span>(必須)</span>
              <i>(英数字6文字以上)</i>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, autocomplete: "off", placeholder:"パスワードを入力しよう"%>
            </div>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label "password_confirmation"%><span>(必須)</span>
            </div>
            <div class='field-input'>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"もう一度パスワード入力しよう"%>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "My dicを始める", class: 'btn'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>