<%= render "devise/shared/header" %>

<div class="mydic-contents">
  <div class="main">
    <div class="page-title">
      <h3><%= @user.nickname%>さんのMydicページ</h3>
    </div>
    <%# 英単語追加する部分 %>
    <% if user_signed_in? && @user.id == current_user.id%>
      <div class="new-word">
        <div class="new-word-header">
          <h3> - My dicに英単語追加 - </h3>
        </div>
        <%= form_with model: @word, url: words_path, method: :post, class: "new-word-form", local: true do |f| %>
          <div class="important">
            <p>重要</p>
            <%= f.check_box :important, id: "important_check_box", checked: true, unchecked: false %>
          </div>
          <div class="name">
            <p>英単語</p>
            <%= f.text_area :name, class:"name-form", id:"word-name", placeholder:"英単語を入力" %>
            <div class="link-list">
              <%= link_to "Weblio", "#", class: "weblio-link"%>
              <%= link_to "公開ワード", "#", class: "publish-link"%>
            </div>
          </div>
          <div class="pos">
            <p>品詞</p>
            <%= f.collection_select(:pos_id, Pos.all, :id, :name, {}, {class:"select-box", id:"word-pos"}) %>
          </div>
          <div class="meaning">
            <p>和訳</p>
            <%= f.text_area :meaning, class:"meaning-form", id:"word-meaning", placeholder:"和訳を入力", rows: "3" %>
          </div>
          <div class="genre">
            <p>ジャンル</p>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"word-textgenre"}) %>
          </div>
          <div class="text">
            <p>テキスト</p>
            <%= f.text_area :text, class:"text-form", id:"word-text", placeholder:"テキストを入力（任意）", rows: "3" %>
          </div>
          <div class="publish">
            <p><%= image_tag "publish_logo.png", class:"publish-pict" %></p>
            <%= f.check_box :publish, id: "publish_check_box", checked: true, unchecked: false %>
          </div>
          <div class="new-submit">
            <%= f.submit "追加" ,class:"add-btn" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%# 英単語一覧表示する部分 %>
    <div class="word-index">
      <div class="word-index-header">
        <h3> - My dic  一覧 - </h3>
        <div class="word-index-header-right">
          <div class="word-search">
            <%= form_with(url: search_mydic_word_path(@user.id), local: true, method: :get, class: "word-search") do |form| %>
              <%= form.text_field :keyword, placeholder: "検索ワード入力", class: "search-input" %>
              <%= form.select :condition, [['を含む', 1], ['から始まる', 2]] %>
              <%= form.select :category, [['全て', 1],['英単語', 2], ['和訳', 3], ['テキスト', 4]] %>
              <div>を</div>
              <%= form.submit "検索", class: "search-btn" %>
            <% end %>
          </div>
          <div class="index-sort">
            <%= form_with(url: order_mydic_word_path(@user.id), local: true, method: :get, class: "word-search") do |form| %>
              <%= form.select :condition, [['登録新しい順', 1], ['登録古い順', 2], ['英単語ｱﾙﾌｧﾍﾞｯﾄ順', 3], ['重要ワード優先', 4], ['グー数多い順', 5], ['採用数多い順', 6], ['品詞順', 7], ['ジャンル順', 8]] %>
              <%= form.submit "並び替え", class: "search-btn" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="word-index-data">
        <div class="word-contents">
          <table class="index_table">
            <%# ワード一覧テーブルヘッダー %>
            <thead class="table_head">
              <tr>
                <th class="important_space">  </th>
                <th class="name_space">英単語</th>
                <th class="pos_space">品詞</th>
                <th class="meaning_space">和訳</th>
                <th class="genre_space">ジャンル</th>
                <th class="text_space">テキスト</th>
                <th class="publish_space"> 
                  <%= image_tag "publish_logo.png", class:"publish-pict" %>
                </th>
                <th class="good_space">グー</th>
                <th class="recruitment_space">採用</th>
                <th class="btn_space">  </th>
              </tr>
            </thead>
            <%# ワード一覧表示 %>
            <tbody class ="table_scroll">
              <% if @words.present?%>
                <% @words.each do |word| %>
                  <tr>
                    <% if user_signed_in? && @user.id == current_user.id%>
                      <td class="important_space">
                        <%= best_in_place word, :important, :as => :select, collection: [[true, '★'], [false, '☆']] %>
                      </td>
                      <td class="name_space">
                        <%= best_in_place word, :name, :as => :input %>
                      </td>
                      <td class="pos_space">
                        <%= best_in_place word, :pos_id, :as => :select, collection: Pos.all.map{|pos| [pos.id, pos.name]} %>
                      </td>
                      <td class="meaning_space">
                        <%= best_in_place word, :meaning, :as => :input %>
                      </td>
                      <td class="genre_space">
                        <%= best_in_place word, :genre_id, :as => :select, collection: Genre.all.map{|genre| [genre.id, genre.name]} %>
                      </td>
                      <td class="text_space">
                        <%= best_in_place word, :text, :as => :input %>
                      </td>
                      <td class="publish_space">
                        <%= best_in_place word, :publish, :as => :select, collection: [[true, '○'], [false, '×']] %>
                      </td>
                      <td class="good_space">3.5万</td>
                      <td class="recruitment_space">3.5万</td>
                      <td class="btn_space"><%= link_to image_tag("bin.jpeg", class:"bin-btn"), word_path(word.id), method: :delete %></td>
                    <% else %>
                      <td class="important_space">
                        <% if word.important %>
                          ★
                        <% else %>
                          ☆
                        <% end %>
                      </td>
                      <td class="name_space"><%= word.name %></td>
                      <td class="pos_space"><%= word.pos.name %></td>
                      <td class="meaning_space"><%= word.meaning %></td>
                      <td class="genre_space"><%= word.genre.name %></td>
                      <td class="text_space"><%= word.text %></td>
                      <td class="publish_space">
                        <% if word.publish %>
                          ○
                        <% else %>
                          ×
                        <% end %>
                      </td>
                      <td class="good_space">3.5万</td>
                      <td class="recruitment_space">3.5万</td>
                      <td class="btn_space"><%= link_to "採用！", "#" , class:"recruitment-btn" %></td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%# サイドバー部分 %>
  <div class="side-bar">
    <div class="side-bar-contents">
      <div class="publish-users">
        <div class="sub-title">
          - ユーザー検索 -
        </div>
        <div class="try-test">
            <%= link_to "公開ワードを見に行く", root_path, class: "test-link"%>
        </div>
        <div class="list">過去にグーしたユーザー▼</div>
        <div class="list">過去に採用したユーザー▼</div>
      </div>
      <div class="test">
        <div class="sub-title">
          - テスト -
        </div>
        <div class="try-test">
            <%= link_to "テストを受けに行く", "#", class: "test-link"%>
        </div>
        <div class="test-result">
          <div class="sub-title"> - テスト結果 -</div>
          <table class="calendar">
            <tr>
              <th class="red">日</th>
              <th>月</th>
              <th>火</th>
              <th>水</th>
              <th>木</th>
              <th>金</th>
              <th class="blue">土</th>
            </tr>
            <tr>
              <td class="red"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="blue"></th>
            </tr>
            <tr>
              <td class="red"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="blue"></th>
            </tr>
            <tr>
              <td class="red"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="blue"></th>
            </tr>
            <tr>
              <td class="red"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="blue"></th>
            </tr>
            <tr>
              <td class="red"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="blue"></th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>