<%= render "devise/shared/header" %>

<div class="publish-main">
  <div class="publish-word-index">
    <div class="word-index-header">
      <h3> - 公開ワード  一覧 - </h3>
      <div class="word-index-header-right">
        <div class="word-search">
          <input type="text" placeholder="検索ワード入力" class="keyword-form">
          <div class="condition">を含む▼</div>
          <div class="category">全て▼</div>
          <div>を</div>
          <input type="submit" value="検索" class="send">
        </div>
        <div class="index-sort">並び替え▼</div>
      </div>
    </div>
    <div class="word-index-data">
      <div class="word-contents">
        <table class="publish_index_table">
          <thead class="table_head">
            <tr>
              <th class="user_nickname_space">投稿者</th>
              <th class="publish_name_space">英単語</th>
              <th class="publish_pos_space">品詞</th>
              <th class="publish_meaning_space">和訳</th>
              <th class="publish_genre_space">ジャンル</th>
              <th class="publish_text_space">テキスト</th>
              <th class="publish_good_space">グー</th>
              <th class="publish_recruitment_space">採用</th>
              <th class="publish_btn_space">  </th>
            </tr>
          </thead>
          <tbody class="publish_table_scroll">
            <% @words.each do |word| %>
              <tr>
                <td class="user_nickname_space"><%= link_to word.user.nickname, user_path(word.user_id) %></td>
                <td class="publish_name_space"><%= word.name %></td>
                <td class="publish_pos_space"><%= word.pos.name %></td>
                <td class="publish_meaning_space"><%= word.meaning %></td>
                <td class="publish_genre_space"><%= word.genre.name %></td>
                <td class="publish_text_space"><%= word.text %></td>
                <td class="publish_good_space">3.5万</td>
                <td class="publish_recruitment_space">3.5万</td>
                <td class="publish_btn_space">
                  <% if current_user.id != word.user_id %>
                    <%= link_to "採用！", "#" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
