<%= render "devise/shared/header" %>

<div class="publish-main">
  <div class="publish-word-index">
    <div class="word-index-header">
      <h3> - 公開ワード  一覧 - </h3>
      <div class="word-index-header-right">
        <div class="word-search">
          <%= form_with(url: search_index_words_path, local: true, method: :get, class: "word-search") do |form| %>
              <%= form.text_field :keyword, placeholder: "検索ワード入力", class: "search-input" %>
              <%= form.select :condition, [['を含む', 1], ['から始まる', 2]] %>
              <%= form.select :category, [['全て', 1],['英単語', 2], ['和訳', 3], ['テキスト', 4]] %>
              <div>を</div>
              <%= form.submit "検索", class: "search-btn" %>
            <% end %>
        </div>
        <div class="index-sort">
          <%= form_with(url: order_index_words_path, local: true, method: :get, class: "word-search") do |form| %>
            <%= form.select :condition, [['登録新しい順', 1], ['登録古い順', 2], ['英単語ｱﾙﾌｧﾍﾞｯﾄ順', 3], ['グー数多い順', 4], ['採用数多い順', 5], ['品詞順', 6], ['ジャンル順', 7]] %>
            <%= form.submit "並び替え", class: "search-btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="word-index-data">
      <div class="word-contents">
        <table class="publish_index_table">
          <thead class="table_head">
            <tr>
              <th class="user_nickname_space">投稿者</th>
              <th class="publish_name_space">英単語</th>
              <th class="publish_pos_space">品詞</th>
              <th class="publish_meaning_space">和訳</th>
              <th class="publish_genre_space">ジャンル</th>
              <th class="publish_text_space">テキスト</th>
              <th class="publish_good_space">グー</th>
              <th class="publish_recruitment_space">採用</th>
              <th class="publish_btn_space">  </th>
            </tr>
          </thead>
          <tbody class="publish_table_scroll">
            <% @words.each do |word| %>
              <tr>
                <td class="user_nickname_space"><%= link_to word.user.nickname, user_path(word.user_id) %></td>
                <td class="publish_name_space"><%= word.name %></td>
                <td class="publish_pos_space"><%= word.pos.name %></td>
                <td class="publish_meaning_space"><%= word.meaning %></td>
                <td class="publish_genre_space"><%= word.genre.name %></td>
                <td class="publish_text_space"><%= word.text %></td>
                <td class="publish_good_space">3.5万</td>
                <td class="publish_recruitment_space">3.5万</td>
                <td class="publish_btn_space">
                  <% if current_user.id != word.user_id %>
                    <%= link_to "採用！", "#" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
